[mysqld]
basedir=/usr
datadir=/home/gyan/Projects/Software-Component-Catalog-System/backend/.mysql/data2
socket=/home/gyan/Projects/Software-Component-Catalog-System/backend/.mysql/run/mysql.sock
pid-file=/home/gyan/Projects/Software-Component-Catalog-System/backend/.mysql/run/mysql.pid
port=3307
bind-address=127.0.0.1
tmpdir=/home/gyan/Projects/Software-Component-Catalog-System/backend/.mysql/tmp
log-error=/home/gyan/Projects/Software-Component-Catalog-System/backend/.mysql/logs/mysql.err
skip_name_resolve=ON
